<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ludgo.android.mealnow">

    <!-- Permissions required when using network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.ludgo.android.mealnow.MealNowApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Related to the ActiveAndroid database -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="meal_now.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.ludgo.android.mealnow.model.PublicOffer, com.ludgo.android.mealnow.model.MyInfo" />

        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SignInActivity"
            android:parentActivityName=".ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:parentActivityName=".ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>

        <service android:name=".service.PublicOffersService" />

        <receiver android:name=".ui.activity.MainActivity$PublicOffersReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="PUBLIC_OFFERS_ACTION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
